<html>
  <head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <div id="iff">
      <h1 v-if="awesome">Vue is awesome!</h1>
      <h1 v-else>Oh no 😢</h1>
    </div>

    <div id="template">
      <template v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>
    </div>

    <div id="else">
      <p v-if="random">
        Now you see me
      </p>
      <p v-else>
        Now you don't
      </p>
    </div>

    <div id="elsif">
      <p v-if="type === 'A'">
        A
      </p>
      <p v-else-if="type === 'B'">
        B
      </p>
      <p v-else-if="type === 'C'">
        C
      </p>
      <p v-else>
        Not A/B/C
      </p>
    </div>

    <div id="login">
      <template v-if="loginType">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
      </template><br />
      <button v-on:click="toggle">Toggle login type</button>
    </div>
        
    <script src="index.js"></script>
  </body>
</html>