<html>
  <head>
    <title>Vue.js Tutorial</title>
    <link rel="stylesheet" href="../index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>

    <div id="example">
      <p>Count: {{ count }}</p>
      <button v-on:click="add">Add</button>
      <button v-on:click="subtract">Subtract</button>
    </div>

    <div id="computed">
      <p>First Name: {{ firstName }}</p>
      <p>Last Name: {{ lastName }}</p>
      <p>FullName: {{ fullName }}</p>
    </div>

    <div id="date">
      <h1>{{ date }}</h1>
      <h1>{{ date.split(',')[0] }}</h1>
    </div>

    <div>
      <ul id="for-directive">
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ul>
    </div>

    <div id="gender">
      <p v-if="person.gender === 'M'">
        Male
      </p>
      <p v-else-if="person.gender === 'F'">
        Female
      </p>
      <p v-else>
        Other
      </p>
    </div>

    <div id="toggle">
      <button v-on:click="condition = !condition">Click Me!</button>
      <p v-if="condition">Click the Button to toggle me in and out</p>
    </div>

    <div id="message">
      <button v-on:click.once="func">Click Me!</button>
    </div>

    <div id="model">
      <input v-model="message" placeholder="Type something...">
      <p>You typed: {{ message }}</p>
    </div>

    <div id="hill">
      <input type="radio" id="jack" value="Jack" v-model="picked">
      <label for="jack">Jack</label>
      <br>
      <input type="radio" id="jill" value="Jill" v-model="picked">
      <label for="jill">Jill</label>
      <p>Picked: {{ picked }}</p>
    </div>

    <div id="color">
      <input type="checkbox" id="red" value="Red" v-model="colors">
      <label for="red">Red</label>
      <input type="checkbox" id="yellow" value="Yellow" v-model="colors">
      <label for="yellow">Yellow</label>
      <input type="checkbox" id="blue" value="Blue" v-model="colors">
      <label for="blue">Blue</label>
      <p>Checked colors: {{ colors }}</p>
    </div>

    <div id="letter">
      <select v-model="selected">
        <option disabled value="">Please pick one</option>
        <option>Lion</option>
        <option>Tiger</option>
        <option>Bear</option>
      </select>
      <p>You picked: {{ selected }}</p>
    </div>

    <script src="../blog/index.js"></script>
  </body>
</html>